modules = ["python-3.12", "java-graalvm22.3", "go-1.25"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["gitFull", "glibcLocales", "libxcrypt", "openssl", "pkg-config", "xsimd"]

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 9000
externalPort = 9000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "sMAP Archiver"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Example Driver"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Go Query Parser"

[[workflows.workflow]]
name = "sMAP Archiver"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-archiver.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Example Driver"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-example-driver.sh"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Go Query Parser"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./go-parser/start-go-parser.sh"
waitForPort = 9000
